<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.avgmax.trade.mapper.TradeMapper">

    <select id="selectAllByUserId" parameterType="string" resultType="com.avgmax.trade.domain.Trade">
        SELECT TRADE_ID, COIN_ID, SELL_ID, BUY_ID, QUANTITY, UNIT_PRICE, CREATED_AT, UPDATED_AT
        FROM TRADE
        WHERE USER_ID = #{userId}
        ORDER BY CREATED_AT DESC
    </select>

    <select id="selectTradeGroupById" resultType="com.avgmax.trade.dto.query.TradeGroupByCoinQuery">
        SELECT
            COIN_ID,
            SUM(QUANTITY) AS TRADE_VOLUME,
            MIN(UNIT_PRICE) AS LOWEST_PRICE,
            MAX(UNIT_PRICE) AS HIGHEST_PRICE
        FROM TRADE
        WHERE DATE(CREATED_AT) = DATE(NOW())
        GROUP BY COIN_ID;
    </select>

</mapper>