<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .coin-container {
        font-size: 15px;
        font-weight: 900;
        color: black; /* 텍스트 내부 색 */
        -webkit-text-stroke: 0.8px #00ff00; /* 외곽선 색상 및 두께 */
        display: flex;
        margin-bottom: 10px;
      }
      .coin-element * {
        margin-right: 6px;
      }
      .circle {
        width: 14px;
        height: 14px;
        border-radius: 10px;
        background-color: #3fea4a;
      }
    </style>
  </head>
  <body>
    <div class="coin-container">
      <div class="circle"></div>
      <div id="username">민민</div>
      <div id="ratio">44.3</div>
      <div>%</div>
    </div>
  </body>
</html>
