<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.avgmax.user.mapper.EducationMapper">

    <insert id="insert" parameterType="com.avgmax.user.domain.Education">
        INSERT INTO EDUCATION (EDUCATION_ID, USER_ID, SCHOOL_NAME, STATUS, MAJOR, START_DATE, END_DATE, CERTIFICATE_URL, CREATED_AT, UPDATED_AT) 
        VALUES (#{educationId}, #{userId}, #{schoolName}, #{status}, #{major}, #{startDate}, #{endDate}, #{certificateUrl}, #{createdAt}, #{updatedAt})
    </insert>
    <select id="selectByUserId" parameterType="String" resultType="com.avgmax.user.domain.Education">
        SELECT EDUCATION_ID, USER_ID, SCHOOL_NAME, STATUS, MAJOR, START_DATE, END_DATE, CERTIFICATE_URL
        FROM EDUCATION
        WHERE USER_ID = #{userId}
    </select>

</mapper>