<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.avgmax.user.mapper.ProfileMapper">

    <insert id="insert" parameterType="com.avgmax.user.domain.Profile">
        INSERT INTO PROFILE (USER_ID, POSITION, BIO, GITHUB, BLOG, SNS, CREATED_AT, UPDATED_AT, LINKEDIN, RESUME) 
        VALUES (#{userId}, #{position}, #{bio}, #{github}, #{blog}, #{sns}, #{createdAt}, #{updatedAt}, #{linkedin}, #{resume})
    </insert>

    <select id="selectByUserId" parameterType="String" resultType="com.avgmax.user.domain.Profile">
        SELECT USER_ID, POSITION, BIO, GITHUB, BLOG, SNS, CREATED_AT, UPDATED_AT, LINKEDIN, RESUME
        FROM PROFILE
        WHERE USER_ID = #{userId}
    </select>
    
</mapper>
