.container-chart {
    flex: 5;
   
    width: 100%;
    height: 100vh;

    position: relative;

    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 2px #00ff41, inset 0 0 2px rgba(0, 255, 65, 0.4);
}

.container-chart > .chart-header {
    width: inherit;
    z-index: 2;
    position: absolute;  
    display: flex;
    top: 0;
    margin-top: 10px;
    margin-left: 10px;
}

.chart-header > .tab {
    border: 2px solid #ffffff;
    margin-left: 10px; /* 버튼 간격 */
    background-color: #000000;
    color: #ffffff;
}

.chart-header > .tab.active {
    color: #66FF66;
    border-color: #66FF66;
    font-weight: bold;
    box-shadow: 0 2px 8px rgba(0, 255, 65, 0.4);
}


.chart-header > .chart-title{
    color: #ffffff;
    flex: 1;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    padding-right: 100px; 
}


.container-chart > .chart-canvas {
    width: 100%;
    height: 100%;

    display: block;
    position: absolute;
    
    top: 0;
    left: 0;
    
    z-index: 1;
}
