.width {
    position: relative;
    justify-content: center;
    /* 수정 코드 */
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 100px);
    min-width: 375px;
    /* 아이폰 se 기준 */
    font-family: 'KIMM_B';
    font-size: 12.5px;
}

.section-top {
    width: 1366px;
    height: 333px;
    display: flex;
    gap: 32px;
    margin-bottom: 32px;
}

/*-------------------- 
    Top 5 Surging
--------------------*/

.section-top .container-left {
    width: 276px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* sursing-header */
.section-top .container-left .box-surging-header {
    width: 100%;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-surging-header .surging-title {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 18px;
    color: #00FF2F;
    text-shadow: 0 0 27px rgba(102, 255, 102, 0.25);
}

/* surging-body */
.section-top .container-left .box-surging-body {
    width: 100%;
    height: 305px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1.2px solid #00FF2F;
    box-shadow: 4px 4px 4px 4px rgba(0, 189, 50, 0.33);
}

.box-surging-body .surging-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 10px;
    list-style: none;
}

.box-surging-body .surging-entry {
    width: 242px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.36);
}

.surging-entry:hover {
    background-color: rgba(0, 255, 47, 0.1);
}

.surging-entry .entry-left {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 4px;
}

.entry-left>.entry-trophy {
    width: 30px;
    height: 30px;
    display: block;
}

.entry-left>.entry-name {
    display: flex;
    color: #ffffff;
    align-items: center;
    line-height: 1;
    gap: 0px;
    font-size: 15px;
}

.rank-1 .entry-left>.entry-trophy {
    fill: #FFD700;
}

.rank-2 .entry-left>.entry-trophy {
    fill: #C0C0C0;
}

.rank-3 .entry-left>.entry-trophy {
    fill: #B87333;
}

.rank-4 .entry-left>.entry-trophy,
.rank-5 .entry-left>.entry-trophy {
    fill: #66ff66;
}

.rank-1 .entry-left>.entry-name {
    text-shadow:
        -0.5px 0 #FFD700,
        0.5px 0 #FFD700,
        0 -0.5px #FFD700,
        0 0.5px #FFD700;
}

.rank-2 .entry-left>.entry-name {
    text-shadow:
        -0.5px 0 #C0C0C0,
        0.5px 0 #C0C0C0,
        0 -0.5px #C0C0C0,
        0 0.5px #C0C0C0;
}

.rank-3 .entry-left>.entry-name {
    text-shadow:
        -0.5px 0 #B87333,
        0.5px 0 #B87333,
        0 -0.5px #B87333,
        0 0.5px #B87333;
}

.rank-4 .entry-left>.entry-name,
.rank-5 .entry-left>.entry-name {
    text-shadow:
        -0.5px 0 #66ff66,
        0.5px 0 #66ff66,
        0 -0.5px #66ff66,
        0 0.5px #66ff66;
}

.surging-entry .entry-right {
    display: flex;
    font-size: 14px;
    color: #E01200;
    align-items: center;
    padding-right: 4px;
    white-space: nowrap;
}

.entry-right>.entry-change.up::before {
    content: "▲";
    font-size: 8px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
    padding-right: 3px;
}

/*---------------------- 
        Carousel
----------------------*/

.section-top .container-right {
    width: 1058px;
    display: flex;
    flex-direction: column;
}

/* carousel-header */
.section-top .container-right .box-carousel-header {
    width: 100%;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.box-carousel-header .carousel-title {
    width: 100%;
    margin: 0;
    font-size: 18px;
    color: #00FF2F;
    text-shadow: 0 0 30px rgba(102, 255, 102, 0.25);
}

/* carousel-body */
.section-top .container-right .box-carousel-body {
    width: 100%;
    height: 305px;
    overflow: hidden;
    position: relative;
    background-color: rgba(75, 75, 75, 0.36);
    border: 1.2px solid #00FF2F;
    box-shadow: 4px 4px 4px 4px rgba(0, 189, 50, 0.33);

}

.carousel-track {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

/* Top 5 Coin */
.carousel-cap-cards,
.carousel-banner {
    flex: 0 0 100%;
    width: 100%;
    min-width: 100%;
    box-sizing: border-box;
}

.box-carousel-body .carousel-cap-cards {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.875em;
}

.box-carousel-body .carousel-cap-cards .cap-card {
    width: 155px;
    height: 240px;
    margin: 0;
    border: 1px solid #00FF2F;
    background-color: rgba(0, 0, 0, 0.95);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cap-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 30px rgba(0, 255, 47, 1);
    z-index: 1;
}

.cap-card .card-top {
    width: 100%;
    height: 23px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #00FF2F;
}

.card-top .card-label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 4%;
}

.card-label>.card-coin-name {
    font-size: 13px;
    color: #FFFFFF;
}

.card-label>.card-author {
    font-size: 8px;
    color: #C8C8C8;
}

.cap-card .card-bot {
    width: 100%;
    height: 217px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.card-bot .card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em 1em;
    gap: 0.5em;
}

.card-info>.card-role {
    font-size: 6px;
    width: 100%;
    text-align: left;
    font-family: "KIMM_L";
    color: #C8C8C8;
}

.card-info img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-bot .card-price {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 0.9em 0.6em;
}

.card-price>.card-change.up {
    width: 100%;
    font-size: 11px;
    color: #E01200;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.card-price>.card-change.up::before {
    content: "▲";
    font-size: 6px;
    padding-right: 3px;
    display: inline-block;
    position: relative;
    top: -2px;
}

.card-change.up>.change-percent {
    font-size: 7.5px;
}

.card-price>div:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.card-price>.price-icon {
    display: flex;
    align-items: center;
}

.card-price>.price-icon>svg {
    width: 12px;
    height: 12px;
    margin-bottom: 1.5px;
}

.price-icon>text {
    font-size: 13px;
    color: #000000;
}

.price-icon>.price-amount {
    font-size: 16px;
    color: #00FF2F;
}


/* banner */
.box-carousel-body .carousel-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 1em;
}

.carousel-banner img {
    max-height: 100%;
    object-fit: contain;
}

/* carousel indicator */
.box-carousel-body .carousel-indicator {
    width: 82px;
    height: 15px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0.5em;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 1em;
    box-shadow: 0 0.1875em 0.1875em 0 rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    position: absolute;
    z-index: 1;


}

.carousel-indicator>.dot {
    width: 0.5em;
    height: 0.5em;
    background-color: #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-indicator>.dot.active {
    background-color: #00FF2F;
}

/*------------------------------
    sect-bot : container-top
------------------------------*/

.section-bottom {
    width: 85.375rem;
    height: 34.75rem;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 1.5rem 0 rgba(0, 255, 47, 0.8);
}

.section-bottom .container-top {
    width: 100%;
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    box-sizing: border-box;
}

/* search */
.section-bottom .container-top .box-search {
    width: 23.125rem;
    height: 2.5rem;
    background-color: rgba(0, 0, 0, 0.95);
    border: 1px solid #00FF2F;
    box-shadow: 0 0 5px rgba(0, 255, 47, 0.25);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.box-search .search-input {
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #FFFFFF;
    flex: 1;
}

.search-divider {
    width: 0.0625rem;
    height: 1.5625rem;
    background-color: #00FF2F;
}

.search-btn {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search-btn>svg {
    width: 1.5625rem;
    height: 1.5625rem;
    stroke: #00FF2F;
    stroke-width: 1px;
    stroke-linecap: round;
    stroke-linejoin: round;
    vertical-align: middle;
}

.container-top>form+div {
    display: flex;
    align-items: center;
    gap: 1rem;
    transform: translateX(-1rem);
}

/* sort dropdown */
.section-bottom .container-top .box-sort {
    width: 9.375rem;
    height: 2.5rem;
    position: relative;
    display: block;
    font-family: "KIMM_L";
    z-index: 999;
}

.box-sort .sort-toggle {
    width: 100%;
    height: 100%;
    background-color: #222222;
    border: 1px solid #00FF2F;
    font-size: 0.875rem;
    color: #00FF2F;
    cursor: pointer;
    padding: 10px;
    font-family: "KIMM_L";
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.sort-toggle>.sort-label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort-toggle .sort-icon {
    position: absolute;
    right: 0.75em;
    top: 50%;
    transform: translateY(-60%);
}

.sort-toggle .sort-icon.down::after {
    content: "▼";
    font-size: 0.5rem;
}

.container-top .box-sort .sort-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #00FF2F;
    border-top: none;
    box-sizing: border-box;
    display: none;
    z-index: 10;
}

.container-top .box-sort .sort-menu.active {
    display: block;
}

.sort-menu .sort-option {
    width: 100%;
    height: 2.5rem;
    background-color: #222222;
    font-size: 0.875rem;
    color: #D5F0A4;
    cursor: pointer;
    padding: 0.625rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s, color 0.2s;
}

.sort-option:hover {
    background-color: #2E2E2E;
    color: #00FF2F;
}

.sort-option.selected {
    background-color: #B3FFC7;
    color: #222222;
    font-weight: bold;
}

/* view radio */
.section-bottom .container-top .box-view {
    display: flex;
    gap: 2px;
}

.box-view input[type="radio"] {
    display: none;
}

.box-view .view-toggle {
    border: 1px solid transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}

.view-toggle svg {
    display: block;
}

input[type="radio"]#view-card:checked+label,
input[type="radio"]#view-list:checked+label {
    border: 1px solid #00FF2F;
    background-color: rgba(0, 255, 47, 0.1);
    box-shadow: 0 0 5px rgba(0, 255, 47, 0.25);
}

/*--------------------------------------
sect-bot : card-view (container-bottom)
--------------------------------------*/

.section-bottom .container-bottom {
    width: 100%;
    height: 31rem;
    overflow-y: auto;
    scrollbar-width: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.section-bottom .container-bottom::-webkit-scrollbar {
    display: none;
}

/* gird card */
.section-bottom .container-bottom .box-grid-card {
    width: 90%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 22.25rem);
    grid-auto-rows: auto;
    gap: 3rem 4.5rem;
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-grid-card .card-view {
    width: 22.25rem;
    height: 12.375rem;
    background-color: rgba(0, 0, 0, 0.95);
    border: 1px solid #00FF2F;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-view:hover {
    transform: scale(1.03);
    box-shadow: 0 0 30px rgba(0, 255, 47, 1);
    z-index: 1;
}

.card-view .card-profile {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 9.5%;
    gap: 1rem;
    box-sizing: border-box;
}

.card-profile .card-thumbnail {
    flex-shrink: 0;
    width: 105px;
    height: 105px;
}

.card-thumbnail img {
    width: 105px;
    height: 105px;
}

.card-view .card-info {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-info .info-meta {
    height: 50%;
    min-height: 2.5rem;
}

.info-meta .info-coin-name {
    font-size: 22px;
    color: #FFFFFF;
}

.info-author {
    font-size: 12px;
    color: #C8C8C8;
}

.card-info .info-change {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.info-change::before {
    margin-right: 0.25rem;
    font-size: 0.5rem;
    display: inline-block;
}

.info-change .change-amount {
    font-size: 16px;
    margin-right: 0.25rem;
    display: inline-flex;
    align-items: center;
}

.info-change .change-percent {
    margin-top: 1px;
    font-size: 11px;
}

.info-change.up {
    color: #E01200;
}

.info-change.up::before {
    content: "▲";
}

.info-change.down {
    color: #1376EE;
}

.info-change.down::before {
    content: "▼";
}

.card-view .card-price {
    height: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}

.card-price svg {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 1.5px;
}

.card-price>.price-amount {
    font-size: 24px;
    color: #00FF2F;
}

/*--------------------------------------
sect-bot : list-view (container-bottom)
--------------------------------------*/

.section-bottom .container-bottom .box-coin-list {
    width: 82.5rem;
    height: 31rem;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

/* table title */
.box-coin-list .table-header {
    display: flex;
    height: 2.5rem;
    font-size: 1.25rem;
    color: #D5F0A4;
    background-color: #1F1F1F;
    box-shadow: 0 2px 5px rgba(0, 255, 47, 0.8);
    position: sticky;
    top: 0;
    z-index: 10;
}

/* table list */
.box-coin-list .table-body {
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.table-body::-webkit-scrollbar {
    display: none;
}

.table-row {
    display: flex;
    height: 2.5rem;
    color: rgba(214, 214, 214, 0.7);
    background-color: rgba(91, 91, 91, 0.3);
    margin-bottom: 0.5rem;
}

.table-row:hover {
    background-color: rgba(0, 255, 47, 0.05);
}

/* table title style */
.col {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.col.col-coin,
.col.col-name {
    justify-content: center;
    padding: 0;
}

/* up & down */
.col.col-diff.up::before {
    content: "▲";
    font-size: 0.75rem;
    padding-right: 0.5rem;
}

.col.col-rate.up::before {
    content: "+";
    font-size: 0.875rem;
    padding-right: 0.5rem;
}

.col.col-diff.down::before {
    content: "▼";
    font-size: 0.75rem;
    padding-right: 0.625rem;
}

.col.col-rate.down::before {
    content: "-";
    font-size: 0.875rem;
    padding-right: 0.625rem;
}

.col-coin {
    width: 12%;
}

.col-name {
    width: 12%;
}

.col-price {
    width: 14%;
}

.col-diff {
    width: 14%;
}

.col-rate {
    width: 12%;
}

.col-volume {
    width: 13%;
}

.col-low {
    width: 11.5%;
}

.col-high {
    width: 11.5%;
}

.table-row .col-price {
    color: #00FF2F;
}

.table-row .col-diff.up,
.table-row .col-rate.up,
.table-row .col-high {
    color: #E01200;
}

.table-row .col-diff.down,
.table-row .col-rate.down,
.table-row .col-low {
    color: #1376EE;
}